{% extends 'base.html.twig' %}


{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/login.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('styles/css/form.css') }}?v=1.0">
{% endblock %}

{% block body %}
<div class="mickey">
    <img src="{{ asset('images/mickey-formulaire.png') }}" alt="formulaire en forme de mickey" class="image_mickey">

    <div class='form-mickey'>
        <h2>INSCRIPTION !</h2>
        <p>Un email de confirmation vient de t'être envoyé !</p>
        <p>Merci de cliquer sur le lien dans cet email pour valider ton inscription.</p>
    </div>
</div>
{% endblock %}