{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/login.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('styles/css/form.css') }}?v=1.0">
{% endblock %}

{% block body %}

    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <img src="{{ asset('images/mickey-form.png') }}" alt="formulaire en forme de mickey" class="image_mickey">

    <div class='form-mickey'>
        <h2>CONNECTE TOI !</h2>
        <form method="post" action="{{ path('app_login_check') }}" class="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
            <label for="username">Ton identifiant :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
    
            <label for="password">Ton mot de passe :</label>
            <input type="password" id="registration_form_plainPassword" name="_password" required>
            <img src="{{ asset('images/eye.png') }}" alt="masquer/afficher le mot de passe" id="eye" class="image_mdp">
    
            <button type="submit" class="bouton">Go</button>
        </form>
        <p>Tu as oublié ton mot de passe ?</p>
        <p><a href="">Clique ICI !</a></p>
        <p>Tu n'es pas encore membre chez nous ?</p>
        <p><a href="{{ path('app_register') }}">C'est par ICI !</a></p>
    </div>

{% endblock %}