{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/login.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
   <link rel="stylesheet" href="{{ asset('styles/css/form.css') }}?v=1.0">
{% endblock %}

{% block body %}
    <img src="{{ asset('images/mickey-formulaire.png') }}" alt="formulaire en forme de mickey" class="image_mickey">

<div class='form-mickey'>
        <h2>MOT DE PASSE</h2>
        <form method="post" action="" class="form">
            <label for="username">Ton identifiant :</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>

            <label for="password">Ton nouveau mot de passe :</label>
            <input type="password" id="password" name="_password" required>
            <img src="{{ asset('images/eye.png') }}" alt="masquer/afficher le mot de passe" class="image_mdp2" id="eye">

            <button type="submit" class="btn2">Changer</button>
        </form>
    </div>
{% endblock %}