<header class="header">
    <nav id="nav">  
        <a class="logo" href="{{ path('home') }}"><img src="{{ asset('images/Logo.png') }}" alt="Logo du site"></a> 
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="admin">
                    <a href="{{ path('admin_dashboard') }}" 
                    class="{{ app.request.attributes.get('_route') == 'admin_dashboard' ? 'active' : '' }}">
                        Tableau administrateur
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('home') }}" 
                class="{{ app.request.attributes.get('_route') == 'home' ? 'active' : '' }}">
                    Accueil
                </a>
            </li>
            {% if app.user %}
                <li>
                    <a href="{{ path('forum') }}" 
                    class="{{ app.request.attributes.get('_route') == 'forum' ? 'active' : '' }}">
                        Forum
                    </a>
                </li>
                <li>
                    <a href="{{ path('profil') }}" 
                    class="{{ app.request.attributes.get('_route') == 'profil' ? 'active' : '' }}">
                        Mon profil
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}" 
                    class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">
                        Se connecter
                    </a>
                </li>
            {% endif %}
        </ul>
        <div id="icon"> 
    </nav>
</header>