{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('styles/javascript/forum.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/css/forum.css') }}?v=2.0">
{% endblock %}

{% block body %}
    <h1>Bienvenue sur le forum !</h1>
    <div class='container-forum'>
        <div class='premier-bloc-forum'>
            <h2>Catégories</h2>
            {% set categoryColors = { 
            'Présentation': 'category-presentation', 
            'Actualité': 'category-actualite', 
            'L’univers de Disney': 'category-univers-disney',
            'TCG': 'category-strategie-tcg', 
            'Les parcs': 'category-parcs-disney' 
        } %}
            <ul>
                {% for category in categories %}
                {% set isActive = category.id == selectedCategoryId %}
                <li>
                    <a href="?category_filter={{ category.id }}"
               class="{{ categoryColors[category.name] | default('') }} {{ isActive ? 'active' : '' }}">
               {{ category.name }}
            </a>
                </li>
                {% else %}
                <li>Aucune catégorie disponible.</li>
                {% endfor %}
            </ul>
        </div>

        <div class='colonne-container-forum'>
            <div class='deuxieme-bloc-forum' id="create-subject">
                <h2 class="sujet">Créer un sujet +</h2>
            </div>
            <div class='troisieme-bloc-forum'>
                <h2>Sujets :</h2>
                <ul>
                {% for sujet in sujets %}
                 <li class="categorie {{ categoryColors[sujet.category.name] }}">
                    <svg class="icone {{ categoryColors[sujet.category.name] }}" viewBox="0 0 24 24">
                        <g>
                            <path fill="none" d="M0 0h24v24H0z"/>
                            <path fill="currentColor"
                                d="M18.5 2a4.5 4.5 0 0 1 .883 8.913 8 8 0 1 1-14.765-.001A4.499 4.499 0 0 1 5.5 2a4.5 4.5 0 0 1 4.493 4.254A7.998 7.998 0 0 1 12 6c.693 0 1.365.088 2.006.254A4.5 4.5 0 0 1 18.5 2z"/>
                        </g>
                    </svg>

                    <a href="{{ path('forum_sujet_detail', { id: sujet.id }) }}">{{ sujet.name }}</a>
                    <span>({{ sujet.comments|length }} {{ sujet.comments|length > 1 ? 'commentaires' : 'commentaire' }})</span>
                </li>
                    {% else %}
                    <li>Aucun sujet trouvé pour cette catégorie.</li>
                    {% endfor %}
                </ul>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span> <!-- Bouton de fermeture -->
            <h2>Ton titre de sujet :</h2>
            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.category) }} <!-- Champ de sélection de la catégorie -->
                <button type="submit" class="create-btn">Créer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}